@use "./_vars.scss" as *;

@mixin mediaMobile() {
  @media screen and (min-width: $mobile) {
    @content;
  }
}

@mixin mediaTablet() {
  @media screen and (min-width: $tablet) {
    @content;
  }
}
@mixin mediaLaptop() {
  @media screen and (min-width: $laptop) {
    @content;
  }
}
@mixin mediaDesktop() {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin mediaDesktopWide() {
  @media screen and (min-width: $desctop_wide) {
    @content;
  }
}

@mixin mediaCustom($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin txt_property($size: 16, $weight: 400, $height: 1.42857, $color: $txt) {
  font-size: #{$size}px;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}

@mixin title_page($size: 20, $margin: 30) {
  font-size: #{$size}px;
  margin-block: #{$margin}px;
}

// @mixin link() {
//   color: $txt_footer_link;
//   transition: color $fast_ease;

//   &:hover {
//     color: teal;
//   }
// }

// @mixin header_link {
//   transition: all $fast_ease;
//   font-size: 15px;

//   &:hover {
//     opacity: 0.7;
//   }
// }

@mixin btn_close_form {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  // transition: all $fast_ease;
  color: $bg_footer;

  &:active {
    scale: 0.8;
  }
}

@mixin text_overflow($count) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $count;
  overflow: hidden;
  text-overflow: ellipsis;
}
