$ff_main: "Helvetica Mtkadastr";
$ff_second: "Inter Mtkadastr";
$ff_title: "Play Mtkadastr";

// Colors
$txt: #000;
$txt_title: #1c2132;
$txt_shadow: #191d23;
$txt_gray: #696969;
$txt_dark: #626778;
$txt_light: #7e7e7e;
$brand: #fe4f18;
$white: #ffffff;
$bg: #f4f6f8;
$txt_border: #ced0cf;
$error: #f00;
$btn_disabled: #eee;
$btn_hover: #ff632c;
$header_hover: #e9eef4;
$bg_gray: #f4f6f8;

// Breakpoints
$mobile: 375px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;
