$ff_main: "Helvetica Mtkadastr";
$ff_second: "Inter Mtkadastr";
$ff_title: "Play Mtkadastr";

// Colors

$white: #fff;
$black: #000;
$accent: #e0bea2;
$accent-dark: #d38f56;
$txt: #252525;
$error: #f00;
$btn-accent-active: #cca88a;
$btn-accent-hover-shadow: 0 5px 7px #25252532;
$bg: #f5f5f5;

$default_cubic: cubic-bezier(0.4, 0, 0.2, 1);
$default_transition: 0.3s $default_cubic;

$btn_radius: 10px;
// Breakpoints
$mobile: 375px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;
