$ff_main: "Helvetica Mtkadastr";
$ff_second: "Inter Mtkadastr";
$ff_title: "Play Mtkadastr";

// Colors

$white: #fff;
$black: #000;
$accept: #e0bea2;
$txt: #252525;
$error: #f00;
$btn-accept-active: #cca88a;
$btn-accept-hover-shadow: 0 5px 7px #25252532;

// Breakpoints
$mobile: 375px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;
