@use "reset";
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  &::-webkit-scrollbar {
    width: 6px;
    height: 1px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $accent;
    border-radius: 60px;
  }

  &::-webkit-scrollbar-track {
    background: $black;
  }
}

body {
  font-family: "Raleway", $ff_main, $ff_second, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 125%;
  background-color: white;
  color: $txt;
  overflow-x: hidden;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  @include mediaDesktop {
    max-width: 1400px;
  }
}
